.wrapper2{
    display: flex;
    flex-wrap: wrap;
}

.row{
    margin-left: 64px;
    /* display: flex;
    text-align: center; */
}

.pic img{
    margin-right: 40px;
    width: 200px;
    height: 150px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.pic img:hover{
    transform:scale(1.2,1.2);
}