.pic img{
    width: 200px;
    height: 150px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.pic img:hover{
    transform:scale(1.1,1.1);
}

 @media (max-width: 550px){
       .wrapper2{
            width: 100%;
            margin: 0 auto;
        }
        .box{
            display: flex;
            margin: 0 auto;
            padding:5px;
            box-sizing:border-box;
            flex-wrap: wrap;
        }
}